<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  {% render 'header_file' %}
  <!-- Google Tag Manager -->
  <script type="lazyload_int">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5B6WGHT');</script>
  <!-- End Google Tag Manager -->
  
  {% render 'ultimate-datalayer' %}
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% include 'seo-title-and-description' %}

  {% include 'social-meta-tags' %}

  {% include 'critical-css' %}
  
  {% comment %}
  <!-- CSS ================================================================== -->
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% endcomment %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        join: {{ 'products.product.join_membership' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }
  </script>

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

    <!-- Header hook for plugins ============================================== -->

    {% comment %} remove URLs from asyncLoad {% endcomment %}

    {% assign content_for_header = content_for_header | remove: "https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=WcjhLR\u0026shop=betonxcire.myshopify.com" %}

    {% assign content_for_header = content_for_header | remove: "https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=SQWpuv\u0026shop=betonxcire.myshopify.com" %}

    {% assign content_for_header = content_for_header | remove: "https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=Tymsr5\u0026shop=betonxcire.myshopify.com" %}

    {% assign content_for_header = content_for_header | remove: "https:\/\/acp-magento.appspot.com\/js\/acp-magento.js?v=2\u0026mode=shopify\u0026UUID=1eb51c7c-bbff-4b5a-a4af-48094b2209bc\u0026store=24692621408" %}

    {% assign content_for_header = content_for_header | remove: "https:\/\/ecommplugins-scripts.trustpilot.com\/v2.1\/js\/header.min.js?settings=eyJrZXkiOiJhQUp5ZWU0V0ZTaExFdXBQIiwicyI6Im5vbmUifQ==\u0026shop=betonxcire.myshopify.com\u0026shop=betonxcire.myshopify.com" %}

    {% assign content_for_header = content_for_header | remove: "https:\/\/ecommplugins-trustboxsettings.trustpilot.com\/betonxcire.myshopify.com.js?settings=1675182625202\u0026shop=betonxcire.myshopify.com" %}

    {% assign content_for_header = content_for_header | remove: "https:\/\/shopwebapp.dpd.fr\/shopify\/js\/dpd_maps.js?shop=betonxcire.myshopify.com" %}

    {% assign urls_to_remove = '
	  https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=Tymsr5\u0026shop=betonxcire.myshopify.com,
      https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=WcjhLR\u0026shop=betonxcire.myshopify.com,
      https:\/\/static.klaviyo.com\/onsite\/js\/klaviyo.js?company_id=SQWpuv\u0026shop=betonxcire.myshopify.com
	  https:\/\/acp-magento.appspot.com\/js\/acp-magento.js?v=2\u0026mode=shopify\u0026UUID=1eb51c7c-bbff-4b5a-a4af-48094b2209bc\u0026store=24692621408,
	  https:\/\/ecommplugins-scripts.trustpilot.com\/v2.1\/js\/header.min.js?settings=eyJrZXkiOiJhQUp5ZWU0V0ZTaExFdXBQIiwicyI6Im5vbmUifQ==\u0026shop=betonxcire.myshopify.com\u0026shop=betonxcire.myshopify.com,
      https:\/\/shopwebapp.dpd.fr\/shopify\/js\/dpd_maps.js?shop=betonxcire.myshopify.com,
	  '
	  | strip_newlines
	  | replace: ' ', ''
	  | split: ','
    %}

    {% for url in urls_to_remove %}
    {% assign content_for_header = content_for_header | remove: url %}
    {% endfor %}
  
    {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            {{ content_for_header }}
    {%- else -%}
            {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
            {{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload_int" ' | replace: " src=", " data-src="| replace: "DOMContentLoaded", "w3-DOMContentLoaded" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('w3-DOMContentLoaded', asyncLoad, false);" | replace: "addEventListener('load', prefetchAssets);", "addEventListener('w3-DOMContentLoaded', prefetchAssets);" }}
            <script>var trekkie=[];trekkie.integrations=!0;window.BOOMR={},window.BOOMR.version=true;</script>
    {%- endif -%}

   {% comment %}
    inject app scripts after user interaction
   {% endcomment %}

    {% if template contains "index" %}
		  <link rel="preload" href="{{ 'theme.scss.css' | asset_url }}" as="style" />
	{% else %}
		  {% render 'theme-css' %}
	{% endif %}
  
  <script type="lazyload_int">
    let scriptUrls = {{ urls_to_remove | json }};

    const injectScripts = (urls) => {

      console.log('injectScripts ran');
      console.log({ scriptUrls });

      urls.forEach(scriptUrl => {

        console.log('inside forEach');

        const script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = scriptUrl.replaceAll('\\/', '/').replaceAll('\\u0026', '&');

        document.head.appendChild(script);
      });

      scriptUrls.length = 0;
    }

	// Add event listeners for click, scroll, and keydown
	document.addEventListener('click', () => injectScripts(scriptUrls));
	window.addEventListener('scroll', () => injectScripts(scriptUrls));
	document.addEventListener('keydown', () => injectScripts(scriptUrls));
  </script>
  
  {% render 'weglot_hreftags' %}
  {% render 'weglot_switcher' %}
  {%- render 'bold-common' -%}

  <!-- Just Button  -->
  <script type="lazyload_int" data-src="https://checkout-button-shopify.vercel.app/just-pay-button.js" data-w3-type="module"></script>
  <link data-href="https://checkout-button-shopify.vercel.app/styles.css" rel="stylesheet">
  <!-- End of Just Button  -->
  {% render 'custom-css' %}
</head>

<body
 id="{{ page_title | handle }}"
 class="template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}{% if customer %} customer-logged-in{% endif %} loading"
 data-animations="{{ settings.animations_enable }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
  {% section 'header' %}

  <main class="main-content" id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  {% section 'footer' %}

  {%- unless template == 'cart' -%}
    {%- include 'cart' -%}
  {%- endunless -%}

  {%- unless template contains 'customers/' -%}
    {%- include 'account-popup' -%}
  {%- endunless -%}

  {% comment %}
  {% endcomment %}
  <!-- CSS ================================================================== -->
  
 
    {% if template contains "index" %}
		  <link href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet"/>
	{% else %}
		  <link data-href="{{ 'theme.scss.css' | asset_url }}" rel="stylesheet"/>
	{% endif %}

  <!-- Javascript ============================================================== -->
 
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>	

  <!-- Klaviyo -->
  <script type="lazyload_int" data-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=Tymsr5"></script>
  {%- comment -%}
  <!-- Klaviyo ============================================================== -->
  <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
  <script>
      var klaviyo = klaviyo || [];
      klaviyo.init({
        account: "Tymsr5",
        platform: "shopify"
      });
      klaviyo.enable("backinstock",{
      trigger: {
        product_page_text: "Notify Me When Available",
        product_page_class: "btn",
        product_page_text_align: "center",
        product_page_margin: "0px",
        replace_anchor: false
      },
      modal: {
       headline: "{product_name}",
       body_content: "Register to receive a notification when this item comes back in stock.",
       email_field_label: "Email",
       button_label: "Notify me when available",
       subscription_success_label: "You're in! We'll let you know when it's back.",
       footer_content: '',
       additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
       drop_background_color: "#000",
       background_color: "#fff",
       text_color: "#222",
       button_text_color: "#fff",
       button_background_color: "#439fdb",
       close_button_color: "#ccc",
       error_background_color: "#fcd6d7",
       error_text_color: "#C72E2F",
       success_background_color: "#d3efcd",
       success_text_color: "#1B9500"
      }
    });
  </script>
  {%- endcomment -%}

  <script type="lazyload_int">
		setTimeout(function() {
            var lazyVideos = document.querySelectorAll("video");
            lazyVideos.forEach(function(lazyVid) {
              lazyVid.load();
              lazyVid.muted= true;
              lazyVid.play();
            });
		});
</script>

  {%- render 'bold-currency-converter' -%}
  {% render 'footer_file' %}
</body>
</html>